.carousel {
    max-width: 1170px;
    position: relative;

}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 1170px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    position: relative;
    border-radius: 50px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #5234fa;
    background-image: linear-gradient(315deg, #5234fa 0%, #fc575e 74%);
    color: #fff;
    font-size: 40px;
    outline: none;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;

}

.carousel .carousel-actions button:hover {
    box-shadow: 0 5px 15px rgba(252, 252, 252, 0.4);
}

.carousel .carousel-actions button:after {
    content: "";
    background-color: #e6a2ec;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 50%;
}

.carousel .carousel-actions button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;
}